<!DOCTYPE html>
<div lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="copy">
    <h3 th:text="#{AccountInfo}">Account Information</h3>
<table>
    <tr>
        <td th:text="#{firstname}">First name:</td>
        <td><input type="text" th:field="*{firstName}" name="firstName" /></td>
    </tr>
    <tr>
        <td th:text="#{lastname}">Last name:</td>
        <td><input type="text" th:field="*{lastName}" name="lastName" /></td>
    </tr>
    <tr>
        <td th:text="#{email}">Email:</td>
        <td><input type="text" th:field="*{email}" name="email" /></td>
    </tr>
    <tr>
        <td th:text="#{phone}">Phone:</td>
        <td><input type="text" th:field="*{phone}" name="phone" /></td>
    </tr>
    <tr>
        <td th:text="#{address1}">Address 1:</td>
        <td><input type="text" th:field="*{address1}" name="address1" /></td>
    </tr>
    <tr>
        <td th:text="#{address2}">Address 2:</td>
        <td><input type="text" th:field="*{address2}" name="address2" size="40" /></td>
    </tr>
    <tr>
        <td th:text="#{city}">City:</td>
        <td><input type="text" th:field="*{city}" name="city" /></td>
    </tr>
    <tr>
        <td th:text="#{state}">State:</td>
        <td><input type="text" th:field="*{state}" name="state" size="4" /></td>
    </tr>
    <tr>
        <td th:text="#{zip}">Zip:</td>
        <td><input type="text" th:field="*{zip}" name="zip" size="10" /></td>
    </tr>
    <tr>
        <td th:text="#{country}">Country:</td>
        <td><input type="text" th:field="*{country}" name="country" size="15" /></td>
    </tr>
</table>

<h3 th:text="#{ProfileInfo}">Profile Information</h3>

<table>
    <tr>
        <td th:text="#{langPre}">Language Preference:</td>
        <td><select name="languagePreference" th:field="*{languagePreference}">
            <!-- 循环 -->
            <option value="english" th:text="#{english}">English</option>
            <option value="japanese" th:text="#{japanese}">Japanese</option>

        </select></td>
    </tr>
    <tr>
        <td th:text="#{faCate}">Favourite Category:</td>
        <td><select name="account.favouriteCategoryId" th:field="*{favouriteCategoryId}">
            <option value="FISH" th:text="#{fish}">FISH</option>
            <option selected="selected" value="DOGS" th:text="#{dogs}">DOGS</option>
            <option value="REPTILES" th:text="#{reptiles}">REPTILES</option>
            <option value="CATS" th:text="#{cats}">CATS</option>
            <option value="BIRDS" th:text="#{birds}">BIRDS</option>
        </select></td>
    </tr>
    <tr>
        <td th:text="#{mylist}">Enable MyList</td>
        <td><input type="checkbox" name="listOption" value="1" th:field="*{listOption}" /></td>
    </tr>
    <tr>
        <td th:text="#{mybanner}">Enable MyBanner</td>
        <td><input type="checkbox" name="bannerOption" value="1" th:field="*{bannerOption}" /></td>
    </tr>

</table>
</div>
</div>

</html>