<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('NewAccount')">

</head>
<body>
<header th:replace="common/template_menu::header">

</header>

<div id="Content">

    <script type="text/javascript">
        var xmlHttpRequest;
        function createXMLHttpRequest()
        {
            if (window.XMLHttpRequest) //非IE浏览器
            {
                xmlHttpRequest = new XMLHttpRequest();
            }
            else if (window.ActiveObject)//IE6以上浏览器
            {
                xmlHttpRequest = new ActiveObject("Msxml2.XMLHTTP");
            }
            else //IE6及以下浏览器
            {
                xmlHttpRequest = new ActiveObject("Microsoft.XMLHTTP");
            }
        }

        function usernameIsExist()
        {
            var username = document.newAccount.username.value;
            sendRequest("/usernameValidation?username="+username);
        }

        function sendRequest(url){
            createXMLHttpRequest();
            xmlHttpRequest.open("GET", url, true);
            xmlHttpRequest.onreadystatechange = processResponse;
            xmlHttpRequest.send(null);
        }

        function processResponse(){
            if(xmlHttpRequest.readyState == 4){
                if(xmlHttpRequest.status == 200){
                    var responseInfo = xmlHttpRequest.responseXML.getElementsByTagName("msg")[0].firstChild.data;
                    var div1 = document.getElementById("usernameInfo");
                    if(responseInfo == "Exist"){
                        div1.innerHTML="<font color='red'>The User ID is Exist</font>";
                    }
                    else{
                        div1.innerHTML="<font color='green'>The User ID is Available</font>";
                    }
                }
            }
        }

    </script>

    <div id="Catalog">

        <form action="#" name="newAccount" th:action="@{/SaveAccount}" th:object="${account}" method="post" >

            <h3 th:text="#{UserInfo}">User Information</h3>

            <table>
                <tr>
                    <td th:text="#{username2}">User ID:</td>
                    <td>

                        <input type="text" name="username" th:field="*{username}" id="username" onkeyup="usernameIsExist();"/>
                        <div id="usernameInfo"></div>
                    </td>
                </tr>
                <tr>
                    <td th:text="#{password2}">New password:</td>
                    <td><input type="password" th:field="*{password}" name="password" /></td>
                </tr>
                <tr>
                    <td th:text="#{repeat}">Repeat password:</td>
                    <td><input type="password" name="repeatedPassword"/></td>
                </tr>
            </table>

            <div th:replace="account/IncludeAccountFields::copy"></div>

            <input type="submit" name="newAccount" value="Save Account Information" th:value="#{saveInfo}"/>

        </form>
    </div>

</div>

<footer th:replace="common/template_menu::footer">

</footer>
</body>
</html>